(
    version: 1,
    roots: [
        (
            name: "BackpackUIBox",
            style: (
                width: Some(Px(65.0)),
                height: Some(Px(68.0)),
                position_type: Some(Absolute),
                left: Some(Px(-32.5)),
                top: Some(Px(-34.0)),
            ),
            visibility_rule: Some((
                rule_type: "Always",
                layers: None,
            )),
            background_color: Some((r: 0.0, g: 0.0, b: 0.0, a: 1.0)),
            border_color: Some((r: 1.0, g: 1.0, b: 1.0, a: 1.0)),
            ui_box_logic: Some((
                width: 65.0,
                height: 68.0,
                border_width: 3.0,
            )),
            text: Some((
                id: "backpack_menu_text",
                default_content: "ITEM\nSTAT",
                font_path: "fonts/determination_sans_simsun.ttf",
                font_size: 13.25,
                color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
            )),
            cursor: Some((
                sprite_path: "common/heartsmall",
                default_position: Linear(
                    origin_x: -19.0,
                    origin_y: 18.5,
                    origin_z: 2.0,
                    step_x: 0.0,
                    step_y: -18.0,
                    step_z: 0.0,
                ),
                overrides: {},
            )),
            children: [],
        ),
    ],
)
