(
    version: 1,
    roots: [
        (
            name: "Sans_Legs",
            sprite: Some((
                path: "textures/battle/sans/legs.png",
                transform: Some((
                    translation: (x: 0.0, y: 15.0, z: 0.0),
                    scale: Some((x: 2.0, y: 2.0, z: 2.0)),
                )),
            )),
        ),
        (
            name: "Sans_Torso",
            sprite: Some((
                path: "textures/battle/sans/torso.png",
                transform: Some((
                    translation: (
                        // xoff = cos(siner / 6)
                        x: "cos(@time * 10.0)", 
                        // yoff = sin(siner / 3) / 1.5, Base Y adjusted
                        y: "57.0 + (sin(@time * 20.0) / 1.5)", 
                        z: 0.1
                    ),
                    scale: Some((x: 2.0, y: 2.0, z: 2.0)),
                )),
            )),
        ),
        (
            name: "Sans_Head",
            sprite: Some((
                path: "textures/battle/sans/head.png",
                transform: Some((
                    translation: (
                        // xoff = cos(siner / 6)
                        x: "cos(@time * 10.0)", 
                        // yoff = sin(siner / 3), Base Y adjusted
                        y: "87.0 + sin(@time * 20.0)", 
                        z: 0.2
                    ),
                    scale: Some((x: 2.0, y: 2.0, z: 2.0)),
                )),
            )),
        ),
    ]
)
