[submodule "crates/bevy_mortar_bond"]
	path = crates/bevy_mortar_bond
	url = git@github.com:Bli-AIk/bevy_mortar_bond.git
[submodule "crates/bevy_fact_rule_event"]
	path = crates/bevy_fact_rule_event
	url = git@github.com:Bli-AIk/bevy_fact_rule_event.git
[submodule "crates/bevy_ecs_typewriter"]
	path = crates/bevy_ecs_typewriter
	url = git@github.com:Bli-AIk/bevy_ecs_typewriter.git
[submodule "crates/bevy_alight_motion"]
	path = crates/bevy_alight_motion
	url = git@github.com:Bli-AIk/bevy_alight_motion.git
[submodule "crates/mortar"]
	path = crates/mortar
	url = git@github.com:Bli-AIk/mortar.git
[submodule "crates/iyes_perf_ui"]
	path = crates/iyes_perf_ui
	url = git@github.com:Bli-AIk/iyes_perf_ui.git
[submodule "crates/flambe"]
	path = crates/flambe
	url = git@github.com:Bli-AIk/flambe.git
	branch = feat/init
[submodule "crates/bevy_workbench"]
	path = crates/bevy_workbench
	url = git@github.com:Bli-AIk/bevy_workbench.git
	branch = feat/init
[submodule "crates/bevy_bitmap_text"]
	path = crates/bevy_bitmap_text
	url = git@github.com:Bli-AIk/bevy_bitmap_text.git
	branch = feat/init
[submodule "crates/cauld-ron"]
	path = crates/cauld-ron
	url = git@github.com:Bli-AIk/cauld-ron.git
	branch = main
[submodule "projects/undertale_preset"]
	path = projects/undertale_preset
	url = https://github.com/Bli-AIk/souprune_undertale_preset.git
[submodule "projects/mad_dummy_example"]
	path = projects/mad_dummy_example
	url = https://github.com/Bli-AIk/souprune_mad_dummy_example.git
[submodule "projects/deltarune_preset"]
	path = projects/deltarune_preset
	url = https://github.com/Bli-AIk/souprune_deltarune_preset.git
[submodule "crates/prune"]
	path = crates/prune
	url = https://github.com/Bli-AIk/prune
	branch = feat/init
