[submodule "crates/bevy_mortar_bond"]
	path = crates/bevy_mortar_bond
	url = git@github.com:Bli-AIk/bevy_mortar_bond.git
[submodule "crates/bevy_fact_rule_event"]
	path = crates/bevy_fact_rule_event
	url = git@github.com:Bli-AIk/bevy_fact_rule_event.git
[submodule "crates/bevy_ecs_typewriter"]
	path = crates/bevy_ecs_typewriter
	url = git@github.com:Bli-AIk/bevy_ecs_typewriter.git
[submodule "crates/bevy_alight_motion"]
	path = crates/bevy_alight_motion
	url = https://github.com/Bli-AIk/bevy_alight_motion.git
