(
    version: 1,
    roots: [
        (
            name: "Sans_Legs",
            sprite: Some((
                path: "textures/battle/sans/legs.png",
                transform: Some((
                    translation: (x: 3.0, y: 57.0, z: 0.0),
                    scale: Some((x: 2.0, y: 2.0, z: 2.0)),
                )),
            )),
            children: [
                (
                    name: "Sans_Torso",
                    sprite: Some((
                        path: "textures/battle/sans/torso.png",
                        transform: Some((
                            translation: (
                                x: "cos(snap(@time * 0.5, 1.0/30.0) * 10.0)",
                                y: "23.0 + (sin(snap(@time * 0.5, 1.0/30.0) * 20.0) / 1.5)",
                                z: 0.1
                            ),
                            // Scale inherited from parent
                        )),
                    )),
                ),
                (
                    name: "Sans_Head",
                    sprite: Some((
                        path: "textures/battle/sans/head.png",
                        transform: Some((
                            translation: (
                                x: "cos(snap(@time * 0.5, 1.0/30.0) * 10.0)",
                                y: "45.0 + sin(snap(@time * 0.5, 1.0/30.0) * 20.0)",
                                z: 0.2
                            ),
                            // Scale inherited from parent
                        )),
                    )),
                ),
            ],
        ),
    ]
)
