#![enable(implicit_some)]
(
    version: 1,
    roots: [
        // No BattleBox - it comes from AM animation

        // Fight Button
        (
            name: "BtnFight",
            sprite: (
                path: "textures/battle/ui/fight/false.png",
                is_animation: false,
                transform: Some((
                    translation: (-233.0, -213.0, 1.0),
                    scale: (1.0, 1.0, 1.0),
                )),
            ),
        ),

        // Act Button
        (
            name: "BtnAct",
            sprite: (
                path: "textures/battle/ui/act/false.png",
                is_animation: false,
                transform: Some((
                    translation: (-80.0, -213.0, 1.0),
                    scale: (1.0, 1.0, 1.0),
                )),
            ),
        ),

        // Item Button
        (
            name: "BtnItem",
            sprite: (
                path: "textures/battle/ui/item/false.png",
                is_animation: false,
                transform: Some((
                    translation: (80.0, -213.0, 1.0),
                    scale: (1.0, 1.0, 1.0),
                )),
            ),
        ),

        // Mercy Button
        (
            name: "BtnMercy",
            sprite: (
                path: "textures/battle/ui/mercy/false.png",
                is_animation: false,
                transform: Some((
                    translation: (235.0, -213.0, 1.0),
                    scale: (1.0, 1.0, 1.0),
                )),
            ),
        ),

        // HUD Info
        (
            name: "BattleHUD",
            texts: [
                (
                    id: "PlayerName",
                    content: "{$player_name}",
                    font: BattleHud,
                    world_scale: (24.0, 24.0),
                    color: (1.0, 1.0, 1.0, 1.0),
                    transform: (
                        translation: (-290.0, -155.5, 1.0),
                    ),
                ),
                (
                    id: "PlayerLevelLabel",
                    content: "{{battle/ui:LV}}",
                    font: BattleHud,
                    world_scale: (24.0, 24.0),
                    color: (1.0, 1.0, 1.0, 1.0),
                    transform: (
                        translation: (-187.5, -155.5, 1.0),
                    ),
                ),
                (
                    id: "PlayerLevelValue",
                    content: "{$player_lv}",
                    font: BattleHud,
                    world_scale: (24.0, 24.0),
                    color: (1.0, 1.0, 1.0, 1.0),
                    transform: (
                        translation: (-148.5, -155.5, 1.0),
                    ),
                ),
                (
                    id: "HPValueCurrent",
                    content: "{$player_hp}",
                    font: BattleHud,
                    world_scale: (24.0, 24.0),
                    color: (1.0, 1.0, 1.0, 1.0),
                    transform: (
                        translation: ("-5.5 + ($player_hp_max - 20) * 94.5 / 79", -155.5, 1.0),
                    ),
                ),
                (
                    id: "HPSeparator",
                    content: "/",
                    font: BattleHud,
                    world_scale: (24.0, 24.0),
                    color: (1.0, 1.0, 1.0, 1.0),
                    transform: (
                        translation: ("33.5 + ($player_hp_max - 20) * 94.5 / 79", -155.5, 1.0),
                    ),
                ),
                (
                    id: "HPValueMax",
                    content: "{$player_hp_max}",
                    font: BattleHud,
                    world_scale: (24.0, 24.0),
                    color: (1.0, 1.0, 1.0, 1.0),
                    transform: (
                        translation: ("57.5 + ($player_hp_max - 20) * 94.5 / 79", -155.5, 1.0),
                    ),
                ),
            ],
            children: [
                (
                    name: "HPSprite",
                    sprite: (
                        path: "textures/battle/ui/hpname.png",
                        is_animation: false,
                        transform: Some((
                            translation: (-64.5, -170.0, 1.0),
                        )),
                    ),
                ),
                (
                    name: "HPBar",
                    sprite: (
                        path: "procedural://white_pixel",
                        is_animation: false,
                        transform: Some((
                            translation: (-45.0, -170.5, 1.0),
                            scale: ("25.0 + ($player_hp_max - 20) * 95.0 / 79", 20.5, 1.0)),
                        )),
                        custom_shader: "shaders/hp_bar_sprite.wgsl",
                        shader_params: (0.8, 0.8, "40.0 + ($player_hp_max - 20) * 95.0 / 79 / 2", 1.0)),
                        pivot: (0.0, 0.5),
                    ),
                )
            ],
        ),
    ]
)
