(
    final_view_path: Some("generated/view_text_reconstruction/.tmp/hudgold_session/final/undertale_backpack.view.ron"),
    cases: [
        (
            id: Some("HUDGoldText"),
            stage_one: "generated/view_text_reconstruction/backpack_set_0/cases/HUDGoldText/stage_1_align_first_glyph.ron",
            stage_two: "generated/view_text_reconstruction/backpack_set_0/cases/HUDGoldText/stage_2_refine_spacing.ron",
        ),
    ],
)
