[
    UIInteraction(ui_layout: "ui/battle/undertale.ui_layout.ron"),
    SetPlayer(Spawn(config_path: "battle/player.battle_player.ron", position: (-25.0, 0.0))),
    Wait(5.0),
    SetPlayer(Teleport((100.0, 100.0))),
    Wait(1.0),
    BulletPattern(
        pattern_id: ["flowey_pellets_circle"]
    ),
    Wait(2.0),
    Nested([
        Wait(0.5),
        SetPlayer(Despawn),
    ]),
]