[
    (
        id: "monster_candy",
        locate_name: "MONSTER_CANDY",
        locate_file: "items",
        description: "Has a distinct, non-licorice flavor.",
        item_type: Food(
            consumable: true,
            effects: [
                Heal(amount: 10),
                PlayAudio(clip_path: "sounds/heal.wav"),
            ]
        )
    ),
    (
        id: "test_parent",
        locate_name: "TEST_PARENT",
        locate_file: "items",
        description: "Comes with everything you need.",
        item_type: Food(
            consumable: true,
            effects: [
                Heal(amount: 4),
                SpawnChildItem(item_id: "dry_noodles"),
            ]
        )
    ),
    (
        id: "tough_glove",
        locate_name: "TOUGH_GLOVE",
        locate_file: "items",
        description: "A worn pink leather glove.",
        item_type: Weapon(
            damage: 5,
            on_hit_effects: [
                PlayAudio(clip_path: "sounds/punch_impact.wav")
            ]
        )
    ),
    (
        id: "faded_ribbon",
        locate_name: "FADED_RIBBON",
        locate_file: "items",
        description: "If you're cuter, monsters won't hit you as hard.",
        item_type: Armor(
            defense: 3,
        )
    )
]