[
    SetCamera(SetZoom(1.0)),
    UIInteraction(ui_layout: "battle/ui/undertale.ui_layout.ron"),
    SetPlayer(Spawn(config_path: "battle/players/player.battle_player.ron", position: (-25.0, 0.0))),
    Wait(5.0),
    BulletPattern(
        pattern_id: ["flowey_pellets_circle"]
    ),
    Wait(2.0),
    Nested([
        Wait(0.5),
        SetPlayer(Despawn),
    ]),
]