(
    // Query the API documentation for this file in layout.rs.
    //
    // 在 layout.rs 查询此文件的 API 文档。
    version: 1,
    roots: [
        // Menu Box (ITEM/STAT)
        (
            name: "MenuBox",
            ui_shape_logic: Some((
                width: 65.0,
                height: 68.0,
                border_width: 3.0,
                offset: (x: -108.5, y: -1.0, z: 0.0),
            )),
            visibility_rule: Some((
                rule_type: "Always",
                layers: None,
            )),
            texts: [
                (
                    id: "MenuTextItem",
                    content: Some("{{overworld/ui:ITEM}}"),
                    font: DeterminationSans,
                    world_scale: (x: 13.25, y: 13.25),
                    color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
                    transform: (
                        translation: (x: -9.5, y: 28.25, z: 1.0),
                    ),
                    line_height: Some(1.375),
                    conditional_style: Some((
                        condition: "player.inventory.is_empty",
                        color: (r: 0.5, g: 0.5, b: 0.5, a: 1.0),
                    )),
                ),
                (
                    id: "MenuTextStat",
                    content: Some("{{overworld/ui:STAT}}"),
                    font: DeterminationSans,
                    world_scale: (x: 13.25, y: 13.25),
                    color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
                    transform: (
                        translation: (x: -9.5, y: 10.25, z: 1.0),
                    ),
                    line_height: Some(1.375),
                ),
            ],
            cursor: Some((
                sprite_path: "common/heartsmall",
                default_translation: Some(Linear(
                    origin: (x: -19.0, y: 18.5, z: 2.0),
                    step: (x: 0.0, y: -18.0, z: 0.0),
                )),
                overrides: {},
                visibility_rule: Some((
                    rule_type: "OnlyIn",
                    layers: Some(["BackpackMenu"]),
                )),
                transform: Some((
                )),
            )),
            children: [],
        ),
        // Info Box (Name, LV, HP, Gold)
        (
            name: "InfoBox",
            ui_shape_logic: Some((
                width: 65.0,
                height: 49.0,
                border_width: 3.0,
                offset: (x: -108.5, y: 66.5, z: 0.0),
            )),
            visibility_rule: Some((
                rule_type: "Always",
                layers: None,
            )),
            texts: [
                (
                    id: "NameText",
                    content: Some("{@player.name}"),
                    font: DeterminationSans,
                    world_scale: (x: 13.0, y: 13.0),
                    color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
                    transform: (
                        translation: (x: -28.5, y: 22.0, z: 1.0),
                    ),
                    line_height: Some(1.0),
                ),
                (
                    id: "HUDText",
                    content: Some("{{overworld/ui:LV}}  {@player.lv}\n{{overworld/ui:HP}}  {@player.hp}/{@player.hp_max}\ng   {@player.gold}"),
                    font: Hud,
                    world_scale: (x: 8.0, y: 8.0),
                    color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
                    transform: (
                        translation: (x: -28.5, y: 5.75, z: 1.0),
                    ),
                    line_height: Some(1.125),
                ),
            ],
            children: [],
        ),
        // Item Box (Item list and USE/INFO/DROP)
        (
            name: "ItemBox",
            ui_shape_logic: Some((
                width: 167.0,
                height: 175.0,
                border_width: 3.0,
                offset: (x: 20.5, y: 3.5, z: 0.0),
            )),
            visibility_rule: Some((
                rule_type: "OnlyIn",
                layers: Some(["BackpackItem", "BackpackItemOptions"]),
            )),
            texts: [
                (
                    id: "ItemLayerList",
                    content: Some("{@player.inventory}"),
                    font: DeterminationSans,
                    world_scale: (x: 13.25, y: 13.25),
                    color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
                    transform: (
                        translation: (x: -64.25, y: 76.5, z: 1.0),
                    ),
                    line_height: Some(1.2),
                ),
                (
                    id: "ItemLayerOptionUse",
                    content: Some("{{overworld/ui:USE}}"),
                    font: DeterminationSans,
                    world_scale: (x: 13.25, y: 13.25),
                    color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
                    transform: (
                        translation: (x: -64.25, y: -63.5, z: 1.0),
                    ),
                    line_height: Some(1.2),
                ),
                (
                    id: "ItemLayerOptionInfo",
                    content: Some("{{overworld/ui:INFO}}"),
                    font: DeterminationSans,
                    world_scale: (x: 13.25, y: 13.25),
                    color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
                    transform: (
                        translation: (x: -12.25, y: -63.5, z: 1.0),
                    ),
                    line_height: Some(1.2),
                ),
                (
                    id: "ItemLayerOptionDrop",
                    content: Some("{{overworld/ui:DROP}}"),
                    font: DeterminationSans,
                    world_scale: (x: 13.25, y: 13.25),
                    color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
                    transform: (
                        translation: (x: 40.75, y: -63.5, z: 1.0),
                    ),
                    line_height: Some(1.2),
                ),
            ],
            cursor: Some((
                sprite_path: "common/heartsmall",
                default_translation: Some(Linear(
                    origin: (x: -72.0, y: 68.0, z: 2.0),
                    step: (x: 0.0, y: -16.0, z: 0.0),
                )),
                overrides: {
                    "BackpackItemOptions": Custom(
                        positions: [
                            (x: -72.0, y: -72.0, z: 2.0),
                            (x: -24.0, y: -72.0, z: 2.0),
                            (x: 33.0, y: -72.0, z: 2.0),
                        ],
                    ),
                },
                visibility_rule: Some((
                    rule_type: "OnlyIn",
                    layers: Some(["BackpackItem", "BackpackItemOptions"]),
                )),
                transform: Some((
                    scale: Some((x: 1.0, y: 1.0, z: 1.0)),
                    rotation: Some(0.0),
                )),
            )),
            children: [],
        ),
        // Status Box (Detailed stats)
        (
            name: "StatusBox",
            ui_shape_logic: Some((
                width: 167.0,
                height: 202.5,
                border_width: 3.0,
                offset: (x: 20.5, y: -10.5, z: 0.0),
            )),
            visibility_rule: Some((
                rule_type: "OnlyIn",
                layers: Some(["BackpackStatus"]),
            )),
            texts: [
                (
                    id: "StatusLayerName",
                    content: Some("\"{@player.name}\""),
                    font: DeterminationSans,
                    world_scale: (x: 13.5, y: 13.5),
                    color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
                    transform: (
                        translation: (x: -72.5, y: 88.25, z: 1.0),
                    ),
                    line_height: Some(1.15),
                ),
                (
                    id: "StatusLayerLvHp",
                    content: Some("{{overworld/ui:LV}}   {@player.lv}\n{{overworld/ui:HP}}  {@player.hp} / {@player.hp_max}"),
                    font: DeterminationSans,
                    world_scale: (x: 13.5, y: 13.5),
                    color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
                    transform: (
                        translation: (x: -72.5, y: 57.75, z: 1.0),
                    ),
                    line_height: Some(1.15),
                ),
                (
                    id: "StatusLayerCombat",
                    content: Some("{{overworld/ui:ATK}}  {@player.total_attack} ({@player.weapon_atk})            {{overworld/ui:EXP}}: {@player.exp}\n{{overworld/ui:DEF}}  {@player.total_defense} ({@player.armor_def})            {{overworld/ui:NEXT}}: {@player.next_exp}"),
                    font: DeterminationSans,
                    world_scale: (x: 13.5, y: 13.5),
                    color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
                    transform: (
                        translation: (x: -72.5, y: 10.0, z: 1.0),
                    ),
                    line_height: Some(1.15),
                ),
                (
                    id: "StatusLayerEquipment",
                    content: Some("{{overworld/ui:WEAPON}}: {@player.weapon}\n{{overworld/ui:ARMOR}}: {@player.armor}"),
                    font: DeterminationSans,
                    world_scale: (x: 13.5, y: 13.5),
                    color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
                    transform: (
                        translation: (x: -72.5, y: -36.0, z: 1.0),
                    ),
                    line_height: Some(1.15),
                ),
                (
                    id: "StatusLayerGold",
                    content: Some("{{overworld/ui:GOLD}}: {@player.gold}"),
                    font: DeterminationSans,
                    world_scale: (x: 13.5, y: 13.5),
                    color: (r: 1.0, g: 1.0, b: 1.0, a: 1.0),
                    transform: (
                        translation: (x: -72.5, y: -72.0, z: 1.0),
                    ),
                    line_height: Some(1.15),
                ),
            ],
            children: [],
        ),
    ],
    navigation: Some({
        "BackpackMenu": (
            mappings: {
                "Up": -1,
                "Down": 1,
            },
            looping: false,
            min_index: Some(0),
            max_index: Some(2),
        ),
        "BackpackItem": (
            mappings: {
                "Up": -1,
                "Down": 1,
            },
            looping: false,
            min_index: Some(0),
            max_index: Some("min(inventory.len(), inventory_capacity)"),
        ),
        "BackpackItemOptions": (
            mappings: {
                "Left": -1,
                "Right": 1,
            },
            looping: false,
            min_index: Some(0),
            max_index: Some(3),
        ),
        "BackpackStatus": (
            mappings: {},
            looping: false,
            min_index: Some(0),
            max_index: Some(1),
        ),
    }),
    transitions: Some({
        "BackpackMenu": (
            on_confirm: Some([
                (
                    condition: Some("index == 0 && !player.inventory.is_empty"),
                    action: GotoLayer("BackpackItem"),
                ),
                (
                    condition: Some("index == 1"),
                    action: GotoLayer("BackpackStatus"),
                ),
            ]),
            on_cancel: Some(PopState),
        ),
        "BackpackItem": (
            on_confirm: Some([
                (
                    condition: None,
                    action: GotoLayer("BackpackItemOptions"),
                ),
            ]),
            on_cancel: Some(GotoLayer("BackpackMenu")),
        ),
        "BackpackItemOptions": (
            on_confirm: None,
            on_cancel: Some(GotoLayer("BackpackItem")),
        ),
        "BackpackStatus": (
            on_confirm: None,
            on_cancel: Some(GotoLayer("BackpackMenu")),
        ),
    }),
)